{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {jsx, "3.1.0"}
]}.

{shell, [
    {apps, [mcp_server]}
]}.

{escript_incl_apps, [mcp_server, jsx]}.
{escript_main_app, mcp_server}.
{escript_name, mcp_server}.
{escript_emu_args, "%%! +pc unicode -escript main mcp_server\n"}.

{profiles, [
    {prod, [
        {erl_opts, [no_debug_info]},
        {relx, [
            {release, {mcp_server, "0.1.0"}, [mcp_server]},
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.
